body {
    font-family: candara;
    margin: 2%;
}

#current {
	font-weight: bold;
    text-decoration: underline;
    color: black;
}

nav {
    height:3em;
    background-color: rgb(146, 146, 7);
    transition: background-color 2s;
}

nav:hover {
    background-color: rgb(10, 72, 198);
}

nav a{
    color:aliceblue;
    text-decoration: none;
}

nav ul{
    padding-top:13px;
	padding-left:10px;
    list-style: none;
}

nav li{
    list-style:none;
	float:left;
	padding-right:20px;
}

main {
    float:left;
	width:80%;
    margin-top: 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
}

aside {
    float:right;
	width:10%;
	margin-top:20px;
	padding:10px;
    margin-left: 2px;
    border: 1px solid black;
    overflow: scroll;
}

aside a {
    text-decoration: none;
    color: rgb(23, 82, 201);
    text-decoration: underline;
}

/*we have to clear both sides so float won't affect copyright*/
.clr{
	clear:both;
}

footer {
    color: white;
    padding: 25px;
    margin: 15px;
    background-color: rgb(146, 146, 7);
    width: 100%;
    text-align: center;
}

header h1{
    animation: colorChange 10s;
}
@keyframes colorChange{
    1% {
        color:brown;
    }
    50% {
        color:blue;
    }
    100%{
        color:black;
    }
}
